{% extends 'base.html' %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'rider_signup' %}" class="btn btn-rider btn-lg btn-dark" role="button">I'm a Rider</a>
  <a href="{% url 'executive_signup' %}" class="btn btn-rider btn-lg btn-dark" role="button">I'm a Partner</a>
{% endblock %}

{#%<!-- <script src="{% static "js/map_view/search_bars.js" %}" alt="No script"></script> -->%#}
<!-- 
<div class="container">
  <div class="jumbotron">
    <h1>Book Ride</h1>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}</h2>
    {% else %}
        <h2>Welcome to the site!</h2>
    {% endif %}
  </div>
{#% endblock %#} -->
