{% extends "base_nav.html" %}

{% block body_block %}

{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        
        <a class="nav-item nav-link" href="#">Rango</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-item nav-link" href="{% url 'rider:book_rides' %}">Get Ride</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{% url 'rider:past_rides' %}">Ride History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block rider_view %}
    {% endblock %}
</div>


{% endblock %}