{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map_view/get_ride.css' %}">
  <div class="row">
    <div class="col-5">
      <div class="container">
        {% if not ride %}
          <p class="h5">Book a Ride</p>
        {% else %}
          <p class="h5">Distnace: {{ride.travelled}} kms</p>
          <p class="h5">Estimated fare: Rs.{{ride.charges}}</p>
          {% if not ride.cabee %}
            <p class="h5">Looking for nearby cars...!!</p>
          {% else %}
            <p class="h5">Driving Partner: {{ ride.cabee }}</p>
            <p class="h5">Car for the ride: {{ ride.cab }}</p>
            {% if ride.is_started %}
              <p class="h5">Ride started...!!</p>
            {% else %}
              <p class="h5">Partner reaching you location...!!</p>
            {% endif %}
          {% endif %}
        {% endif %}
        
      </div>
    </div>
  </div>
  <!-- <script defer src="{% static 'js/map_view/locate.js' %}" alt="No script"></script>  
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8yOuNdpcUpjV3ilOJbrdZtrey9BHNStA&callback=initMap&libraries=places&v=weekly"></script> -->
{% endblock %}