{% extends "base.html" %}


{% block content %}

<link rel="stylesheet" href="{% static "css/map_view/get_ride.css" %}">
<script src="{% static "js/map_view/search_bars.js" %}" alt="No script"></script>

<div class="container">
  <div class="jumbotron">
    <h1>Book Ride</h1>
    <h2>Welcome {{ user.username }}</h2>
  </div>

  
  
  
  <div class="d-flex justify-content-center mx-2 px2">
    <div class="container my-2" style="width: 600px; height: 450px;" id="map"></div>
  </div>

  <div id="info-content-p">
    <img src="" 
         width="16" 
         height="16" 
         id="place-icon" />
    <span id="place-name" class="title"></span><br />
    <span id="place-address"></span>
  </div>

  <div id="info-content-d-1">
    <img src="" 
         width="16" 
         height="16" 
         id="place-icon-d-1" />
    <span id="place-name-d-1" class="title"></span><br />
    <span id="place-address-d-1"></span>
  </div>

(% endblock %)