{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map_view/get_ride.css' %}">
  <script src="{% static 'js/map_view/locate.js' %}" alt="No script"></script>  
  <div class="row">
    <div class="col-5">
      <h3 class="d-flex justify-content-center">Where do you wanna go today..?</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {#{ form|crispy }#}
        <img src="{% static 'images/map_view/pickup_marker.jpg' %}" alt="" id="pickup_icon" style="display: none;">
        <img src="{% static 'images/map_view/drop_marker.png' %}" alt="" id="drop_icon" style="display: none;">
        <div class="container my-5 h-100">
          <div class="searchbar">
            <input class="search_input w-100" id="pickup_loc" type="text" name="" placeholder="Pickup...">
          </div>
        </div>
        <div class="container my-5 h-100">
          <div class="searchbar">
            <input class="search_input w-100" id="drop_loc" type="text" name="" placeholder="Drop...">
          </div>
        </div>
        <div class="d-flex justify-content-center my-2">
          <button type="submit" class="btn btn-info btn-lg col-6 mx-2">Search Ride</button>
          <button type="submit" class="btn btn-warning btn-lg col-6 mx-2">Ride Later</button>
        </div>
      </form>
    </div>
    <div class="col-7" id="map_container">
      <div class="container w-100 h-100" id="map"></div>
    </div>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8yOuNdpcUpjV3ilOJbrdZtrey9BHNStA&callback=initMap&libraries=places&v=weekly"></script>
{% endblock %}