{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-lg-12">
      <h2>Fill in</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {#{ form|crispy }#}

        <div class="form-row">
            <div class="form-group col-6">
                {{ form.source|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                {{ form.destination|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}